body{
    background-color: rgb(100, 75, 150);
    color: white;
}

#addtodo{
    width: 80%;
}

.tabs-open-closed{
    position: relative;
}

.tabs-open-closed > div > li{
    display: inline-block;
}

#msgs > li{
    list-style-type: none;
}

.forms{
    display: flex;
    flex-direction: row;
}